body {
  font-family: sans-serif;
  background:#111;
  color:#fff;
  text-align:center;
  margin-top:80px;
}

button {
  padding:10px 20px;
  background:#00bfff;
  border:none;
  border-radius:5px;
  cursor:pointer;
}

#result {
  margin-top:20px;
}
a { color:#00ffea; }
